body {
    box-sizing: border-box;
    background-color: #888;
    font-family: sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: rgba(97, 32, 2, 1);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    margin: auto auto 100px auto;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 75px);
    grid-gap: 10px;
    max-width: 350px;
    padding: 40px;
    background-color: rgb(87, 87, 87);
    border-radius: 20px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2em;
    border: solid 1px;
    outline: none;
    /* background-color: rbga(255, 255, 255, 0.75); */
}

.calculator-grid button:hover {
    background-color: #c9c9c9;
}

.span-two {
    grid-column: span 2;
    color: #ffffff;
    background-color: rgba(97, 32, 2, 0.8);
}

.output {
    grid-column: 1 / -1;  /* start/end */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    /* word-wrap: break-word;
    word-break: break-all; */
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.3rem;
}
.output .current-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.1rem;
}


/* ----- restaurant bill ----- */

.bill-container {
    display: block;
    justify-content: center;
    max-width: 210px;
    margin: auto auto 100px auto;
    background-color: rgba(77,77,77,.77); 
    min-height: 40vh; 
    text-align: center; 
    padding: 20px;
    border-radius: 30px;
    color: #fff;
}

.bill-container h1 {
    font-size: 1.5em;
}

.bill-container input, .bill-container button, .bill-container select {
    font-size: 1.15em;
    padding: 0.25em;
    display: block;
    margin: 0.5em auto;
    width: 200px;
}

.bill-container #response {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}



/* ------ apartment ----- */

.apartment-container {
    width: 420px;
    margin: auto auto 100px auto;
    background-color: rgba(200,200,200,.85);
    min-height: 550px;
    text-align: left;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 10px;
    border: 3px solid maroon;
    box-shadow: 5px 5px 5px maroon; 
}

.apartment-container h1 {
    display: flex;
    justify-content: center;
}

.apartment-container button {
    text-transform: uppercase;
    background-color: maroon;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    cursor: pointer;
}

.apartment-container input {
    font-size: 1em;
    padding: 5px 5px 5px 8px;
    display: block;
    width: 225px;
    margin: 10px;
}

.apartment-container button, .apartment-container select {
    font-size: 1em;
    padding: 5px;
    display: block;
    margin: 25px 10px;
    width: 240px;
}

.apartment-container button {
    text-transform: uppercase;
    background-color: maroon;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

.apartment-container input[type="checkbox"], .apartment-container label {
    display: inline;
    width: 30px;
    padding: 5px;
}

.apartment-container select {
    font-size: 1.1rem;
    width: 250px;
    padding:5px;
}